body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/Designer\ \(12\).jpeg');
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image-container {
    border-radius: 20px;
    overflow: hidden; /* Ensures the image is clipped to the border radius */
    display: inline-block; /* Shrink-wrap the image */
    margin-bottom: 20px; /* Add space below the image */
    padding-top: 20px;
}

.header-image {
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"], select {
    border: 2px solid #e82029;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    width: calc(33% - 20px);
    text-align: center;
}

.nav-button {
    display: inline-block;
    background-color: transparent;
    color: #e82029;
    border: 2px solid #e82029;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button:hover {
    background-color: #e82029;
    color: white;
}

.save-button {
    background-color: #e82029;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #f58320;
}

@media (max-width: 600px) {
    input[type="text"], select {
        width: calc(100% - 20px);
        margin-bottom: 10px;
    }
}
